@mixin glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(136, 136, 136, 0.3);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
}

.main {
  background-image: linear-gradient(to bottom, var(--color-bg-1), var(--color-bg-2), var(--color-bg-3), var(--color-bg-4), var(--color-bg-5));
  overflow: hidden;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*                               Hero                               */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.hero {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  position: relative;

  .parallax__cloud1 {
    position: absolute;
    top: 5%;
    left: 15%;

    @media (max-width: 400px) {
      top: 0%;
      left: 5%;
    }

    img {
      width: 12rem;
    }
  }
  .parallax__birds {
    position: absolute;
    bottom: 90%;
    right: 10%;

    @media (max-width: 400px) {
      bottom: 100%;
      right: 5%;
    }

    img {
      width: 8rem;
    }
  }
  .parallax__kite {
    position: absolute;
    top: 35%;
    left: 50%;

    @media (max-width: 900px) {
      top: 55%;
    }
    @media (max-width: 600px) {
      top: 65%;
    }

    img {
      width: 10rem;
    }
  }

  @media (max-width: 400px) {
    padding: 3.5rem;
  }

  .hero__name {
    font-family: 'Hachi Maru Pop', cursive;
    // color: var(--color-main);
    color: rgb(200, 200, 200);
    font-size: 8rem;
    z-index: 2;

    @media (max-width: 550px) {
      font-size: 6rem;
    }
  }

  .hero__role {
    font-size: 2rem;
    margin-top: 2.5rem;
    z-index: 2;

    @media (max-width: 550px) {
      font-size: 2rem;
    }
  }

  .arrow-down {
    width: 30px;
    height: 30px;
    opacity: 75%;
    position: absolute;
    left: 48%;
    bottom: 1%;
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*                               About                              */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.about {
  height: auto;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .parallax__cloud2 {
    position: absolute;
    top: 60%;
    left: 65%;

    img {
      width: 15rem;
    }
  }

  @media (max-width: 400px) {
    padding: 3.5rem;
  }

  &__title {
    font-size: 5rem;
    margin-bottom: 2.5rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 2.5rem;
    @include glass;
    z-index: 2;

    p {
      margin-bottom: 2.5rem;
      font-size: 2rem;
      text-align: justify;
      text-justify: auto;
      max-width: 40rem;
      line-height: 1.5;
    }
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*                             Portfolio                            */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.portfolio {
  height: auto;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .parallax__rocket {
    position: absolute;
    top: 60%;
    left: 65%;

    img {
      width: 10rem;
      transform: rotate(-45deg);
    }
  }
  .parallax__cloud3 {
    position: absolute;
    bottom: 10%;
    left: 40%;

    img {
      width: 12rem;
    }
  }

  @media (max-width: 400px) {
    padding: 3.5rem;
  }

  &__title {
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(3, minmax(30rem, 1fr));
    gap: 5rem;
    height: fit-content;

    @media (max-width: 1050px) {
      grid-template-columns: repeat(2, minmax(30rem, 1fr));
    }
    @media (max-width: 700px) {
      grid-template-columns: repeat(1, minmax(30rem, 1fr));
    }

    .project {
      display: flex;
      flex-direction: column;
      padding: 2.5rem;
      @include glass;
      z-index: 2;

      &__title {
        display: inline-block;
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        text-decoration: none;
        color: black;

        span {
          font-size: 2rem;
        }
      }

      &__screenshot {
        width: 100%;
        border-radius: 5px;
      }

      p {
        font-size: 1.8rem;
        margin-top: 1.5rem;
        line-height: 1.3;
        text-align: justify;
        text-justify: auto;
      }
    }
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*                              Skills                              */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.skills {
  height: auto;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .parallax__rainbow {
    position: absolute;
    top: 50%;
    left: 40%;

    img {
      width: 30rem;
    }
  }
  .parallax__airplane1 {
    position: absolute;
    top: 20%;
    right: 30%;

    img {
      width: 12rem;
    }
  }

  @media (max-width: 400px) {
    padding: 3.5rem;
  }

  &__title {
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    z-index: 2;
    @include glass;
  }

  &__description {
    font-size: 2rem;
    text-align: justify;
    text-justify: auto;
    max-width: 40rem;
    margin-bottom: 2.5rem;
  }

  li {
    font-size: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    .tech-icon {
      width: 3rem;
      margin-right: 1rem;
    }
  }

  .layman-term {
    width: auto;
    max-width: 50rem;
    margin-top: 3rem;
    padding: 2.5rem;
    z-index: 1;
    @include glass;
    z-index: 2;

    &__title {
      text-align: center;
      font-size: 2.5rem;
    }

    p {
      font-size: 2rem;
      text-align: justify;
      text-justify: auto;
      line-height: 1.5;
      margin: 1.5rem 0;
    }
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*                              Contact                             */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.contact {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  position: relative;

  .parallax__airplane2 {
    position: absolute;
    top: 20%;
    left: 30%;

    img {
      width: 10rem;
    }
  }
  .parallax__mountain {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);

    img {
      width: 50rem;

      @media (max-width: 500px) {
        width: 40rem;
      }
      @media (max-width: 400px) {
        // width: 30rem;
        overflow: hidden;
      }
    }
  }

  @media (max-width: 400px) {
    padding: 3.5rem;
  }

  &__title {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    z-index: 1;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 2.5rem;
    @include glass;
    z-index: 2;

    input {
      width: 100%;
      height: 3rem;
      background-color: rgb(225, 225, 225);
      border-style: none;
      margin: 1rem 0;
      border-radius: 10px;
      text-indent: 1rem;
    }

    input::placeholder {
      text-transform: uppercase;
    }

    textarea {
      width: 100%;
      background-color: rgb(225, 225, 225);
      border-style: none;
      margin: 1rem 0;
      border-radius: 10px;
      text-indent: 1rem;
    }

    textarea::placeholder {
      font-size: 1.15em;
      text-transform: uppercase;
    }

    .submit {
      width: 15rem;
      height: 3rem;
      margin: 1rem 0 0;
      font-size: 1.8rem;
      cursor: pointer;
      background-color: rgb(225, 225, 225);
      border-style: none;
      border-radius: 10px;
      transition: transform 0.5s;
    }

    .submit:hover {
      transform: scale(1.05);
    }
  }

  .visit-github {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    z-index: 1;

    &__text {
      font-size: 2rem;
    }

    &__link {
      .github-icon {
        margin-left: 1rem;
        width: 4rem;
      }
    }
  }
}

.nav-overlay-animate-enter {
  opacity: 0;
}
.nav-overlay-animate-enter-active {
  opacity: 1;
  transition: all 300ms;
}
.nav-overlay-animate-exit {
  opacity: 1;
}
.nav-overlay-animate-exit-active {
  opacity: 0;
  transition: all 300ms;
}
